/* General.module.css */

.inputFields {
    background-color: white;
    border-radius: 7px;
  }

.pagination{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
}

.dashboardTable{
    border-radius: 20px;
    background-color: rebeccapurple;
    
}
/* .nav {
    background-color: var(--nav-background);
}

.divTeste{
    background-color: darkgoldenrod;
} */